@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: #000;
  color: white;
}

@keyframes slowZoom {
  from {
    transform: scale(1.05);
  }

  to {
    transform: scale(1.12);
  }
}

.sidebar-scroll::-webkit-scrollbar {
  width: 0px;
}

.sidebar-scroll {
  scrollbar-width: none;
}